body {
  background-image: url("Processed2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden
}

div.topMenu {
  padding: 0.1vw;
  background-color: darkslategray;
}

div.topMenu ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

div.topMenu ul li {
  margin: 0 5vw;
}

div.topMenu ul li button {
  border: none;
  font-size: 1vw;
  font-weight: bolder;
  padding: 1vw;
  padding-left: 8vw;
  padding-right: 8vw;
  color: aliceblue;
}

#current {
  background-color: rgb(69, 107, 107);
  border-radius: 2vw;
}

#redirect:not(:hover) {
  background-color: darkslategray;
}

#current:hover {
  background-color: rgb(61, 97, 97);
}

#redirect:hover {
  background-color: rgb(40, 66, 66);
}

div.redirect:not(:hover) {
  display: none;
}

#title {
  font-size: 2vw;
  font-weight: bold;
  color: aliceblue;
  text-align: center;
}

#title2 {
  font-size: 1.5vw;
  font-weight: bold;
  color: aliceblue;
  text-align: center;
}

#Side {
  width: 24.4vw;
  height: auto;
  float: left;
  padding-left: 4vw;
}

#content {
  font-size: 2vw;
  padding: 3vw;
  padding-left: 30vw;
  text-align: right;
  color: aliceblue;
  background-color: rgba(45, 255, 237, 0.103);
}

p button {
  font-size: 2vw;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: aliceblue;
}
p button:hover {
  background-color: rgba(127, 255, 212, 0.164);
}

#dicordLink {
  color: aliceblue;
}
#dicordLink:hover {
  color: rgb(141, 202, 255);
}

#content ul{
  text-align: right;
  list-style: none;
}

#scrollable {
  width: 100%;
  height: 49.4vw;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  background-color: rgba(0, 139, 139, 0.26);
  width: 1.5vw;
}

::-webkit-scrollbar-thumb {
  background: rgb(10, 85, 85);
  border-radius: 2cm;
}

.WIP{
  font-size: 1.5vw;
  color: aliceblue;
  text-align: center;
}

#Throbber{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 20vw;
}

.Display img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
  border-radius: 1cm;
  margin-bottom: 4vw;
}
.Display p{
  text-align: center;
  color: aliceblue;
  font-size: 2vw;
  margin-bottom: 4vw;
}